/*
  inheritance
    inherit - parent parameter
    initial - zero style
    unset - parent || zero style
    revert - parent || browser style
*/
/* 
  cascade
    Source order
    Specificity
    Importance
*/
/* 
  Specificity
    0001 - selector
    0010 - selector.class, selector:sub-selectors 
    0100 - #id
    1000 - rule inside an element's style attribute
    10000 - parameter: value !important;
*/
/*
  Attribute selectors
    a[atr]
    a[atr ="value"]
    a[atr~="value_with_end_space "]
    a[atr|="value_with_end_dash"]
    
    a[atr^="value_starts_with"]
    a[atr$="value_ends_with"]
    a[atr*="part_of_value"]

    a[atr="value_middle_case" i] or 's'
*/
/*
  pseudo-class
    a:pseudo-class
    parent child:first-child {}
    parent child:last-child {}
    parent child:only-child {}
    parent child:invalid {}

    :first-child{} = *:first-child{}

    a:link {} // have link
    a:hover {} // hovered mouse
    a:focus {} // click
    a:visited {} // visited link

    a::before { content: "This should show before the other content."}
    a::after { content: "This should show before the other content."}
*/
/*
  Pseudo-elements
    article p::first-line{}
*/
/* 
  combinators
    .parent .parent .element {}
    .parent > .child {}  
    .first_sister + .second_sister {}
    .first_sister ~ .any_sister {}
*/



h1 {
  color: red;
  text-decoration: underline;
  text-decoration-color: blue;
}

p,
li {
  color: green;
}

li {
  list-style-type: none;
}

li.special,
span.special {
  color: orange;
  font-weight: bold;
}

li em {
  color: rebeccapurple;
}

h1+p {
  font-size: 200%;
}

p span {
  color: red;
}

a:link {
  color: pink;
}

a:visited {
  color: green;
}

a:hover {
  text-decoration: none;
}

body h1+p .special {
  color: yellow;
  background-color: black;
  padding: 5px;
}

p {
  color: blue;
}

.notebox {
  border: 4px solid #666;
  padding: .5em;
  margin: 10px;
}

.notebox.warning {
  border-color: orange;
  font-weight: bold;
}

.notebox.danger {
  border-color: red;
  font-weight: bold;
}

a[href="https://google.com/"] {
  color: black;
}





.box {
  display: flex;
}
.box > * {
  border: 1px solid black;
  margin: 4px;
}