html{
    background-color: brown;
    font-size: 20px;
    color: whitesmoke;
    ul{
        background: red;
        padding: 10px;
        border: black 1px solid;
        li{
            margin-left: 20px;
        }
    }
    .hm{
        size: 12px;
    }
    h1{
        text-shadow: black 10px 10px 10px;
    }
}